[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
typer = "*"
requests = "*"
tabulate = "*"
jinja2 = "*"
fastapi = "*"
aiofiles = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
