.menu {
    display: flex;
    max-width: 90vw;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: space-between; */
    justify-content: center;
}

/* font missing */
.menu-option {
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ffe8de;
    width: 436px;
    margin: 20px;
}

.menu-option a {
    color: #3a3a3a;
}

.menu-option a img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border: 0;
}

.menu-option-details {
    padding: 15px;
}

.menu-option-meal-type {
    color: #21bbb1;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.menu-option-title {
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    font-size: 24px;
    letter-spacing: 0;
}

.menu-option-subtitle {
    font-size: 16px;
    letter-spacing: 0;
    margin: 0 0 15px;
    padding: 0;
    line-height: 1.31;
}

.menu-option-labels {
    list-style: none;
    margin: 20px 0 5px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-family: inherit;
    padding: 0;
}

.menu-option-label {
    margin: 0 10px 5px 0;
    border-radius: 100px;
    background-color: #f4f2f9;
    color: #3a3a3a;
    display: inline-block;
    font-size: 10px;
    font-family: "Galano Grotesque W00 Medium", Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 6px 10px;
    text-transform: uppercase;
}
